.task-form {
  max-width: 600px;
  margin: auto;
  padding: 24px;
}

.task-form__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.task-form__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.task-form__field {
  width: 100%;
  margin-bottom: 16px;
}

.task-form__submit {
  margin-top: 16px;
  align-self: flex-end;
}
